<!--paginate.ejs-->
<table class="table">
    <% persons.forEach( function(model) { %>
        <tr><td><%= model.name %></td><td><%= model.age %></td></tr>
    <% }); %>
</table>


<form action="/person/search" method="POST">
<div class="row">
    <div class="col-12 col-sm-4 col-lg-4 col-xl-3">
        <label>name</label></div>
    <div class="col-12 col-sm-4 col-lg-4 col-xl-9">
        <input type="string" id="name" class="form-control" name="person[name]">
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-4 col-lg-4 col-xl-3">
        <label>age</label></div>
    <div class="col-12 col-sm-4 col-lg-4 col-xl-9">
        <input type="number" id="age"  class="form-control" name="person[age]">
    </div>
</div>
<button type="submit" class="btn btn-primary">Search</button>  
</form>


<% const current = parseInt(req.query.page) || 1; %>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="/person/paginate/?page=<%= Math.max(current-1, 1) %>">Previous</a>
        </li>

        <% for (i = 1; i <= count; i++) { %>
            <li class="page-item">
                <a class="page-link" href="/person/paginate/?page=<%= i %>"><%= i %></a>
            </li>
        <% } %>

        <li class="page-item">
            <a class="page-link" href="/person/paginate/?page=<%= Math.min(current+1, count) %>">Next</a>
        </li>
    </ul>
</nav>